---
permalink: /
layout: default
---

  <script src="{{ site.baseurl }}/js/vendor/ua-parser-js-0.7.10.js"></script>
  <script src="{{ site.baseurl }}/js/update-download-link.js"></script>

  <div class="jumbotron jumbotron-home text-center">

    <div class="container">
      <!-- {% include hero.html %} -->
      <p class='jumbotron-lead'>Everything you need to run an online school
        <span class='jumbotron-lead-muted'> the smart way</span>
      </p>
      <p class="text-center-sm mt-4">
        <a class="btn btn-lg btn-outline-themed" href="https://teamnooma.typeform.com/to/Ye4bti" target="_blank">
          <span class="octicon octicon-clippy mr-1"></span>
          <span class="label">Join the waitlist</span>
        </a>
      </p>
    </div>

    <!-- <div class="background">
      <video class="bg-vid" poster="http://i.imgur.com/Mzi35pw.png" autoplay="" loop="" muted="">
        <source src="https://www.filestackapi.com/api/file/KFIecL0yQ3SjvMTdkHon" type="video/mp4">
      </video>
    </div> -->
  </div>

<!-- <div id="Container">
  <div id="Video">
    <video preload="preload" id="video" autoplay="autoplay" loop="loop">
      <source src="/video/avideotodisplay.mp4" type="video/mp4"></source>
      <source src="/video/avideotodisplay.m4v" type="video/m4v"></source>
    </video>
    <div id="Message">
      <h1>Your text to display</h1>
    </div>
  </div>
</div> -->


  <div class="subtron py-4 text-center">
    <div class="container">
      <div id="electron-versions" class="electron-versions">
        <span class="electron-versions-main">Web: <strong>{{ site.latest_version }}</strong></span>
        <span>iOS: <strong>{{ site.current_node }}</strong></span>
        <span>Android: <strong>{{ site.current_chrome }}</strong></span>
        <span>Mac: <strong>{{ site.current_chrome }}</strong></span>
        <!-- <span>V8: <strong>{{ site.current_v8 }}</strong></span> -->
      </div>
    </div>
  </div>

  <section class="page-section page-section-spacious" id='electron'>
    <div class="container-narrow">
      <h1 class="text-center-sm">Better for Teachers, Better for Students</h1>
      <p class="lead text-center-sm">
        Nooma includes everything you need to offer a fantastic online school like real-time chat and video, community building tools, access controlled content, and payment system
      </p>

      <p class="text-center-sm mt-4">
        <a class="btn btn-lg btn-outline-themed" href="https://youtu.be/2MVFrpmv3Jo" target="_blank">
          <span class="octicon octicon-eye mr-1"></span>
          <span class="label">Watch the video</span>
        </a>
      </p>

      <hr>

      <div class="row text-center text-small mt-6">
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" role="presentation" src="{{ site.baseurl }}/images/sync.png" aria-hidden="true">
          <h3 class="mb-2 mt-0">Content</h3>
          <p>Just manage a single Dropbox folder and we’ll sync it to every platform for you</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" role="presentation" src="{{ site.baseurl }}/images/real-time-community.png" aria-hidden="true">
          <h3 class="mb-2 mt-0">Community</h3>
          <p>Real-time chat, video, and live streaming is built-in to your Classroom</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img class="home-illu" role="presentation" src="{{ site.baseurl }}/images/commerce.png" aria-hidden="true">
          <h3 class="mb-2 mt-0">Commerce</h3>
          <p>Connected directly to your bank account for direct withdrawals</p>
        </div>
      </div>
      <br>
      <div class="row text-center mt-6 mb-4">
        <h2>Why Teachers Love Nooma</h2>
      </div>

      <div class="row text-center text-small mt-3">
        <div class='col-xs-12 col-sm-4 col-md-2 offset-md-1 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="">
            <span class="octicon hero-octicon octicon-sync" aria-hidden="true"></span>
            Recurring Revenue
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="">
            <span class="octicon hero-octicon octicon-versions" aria-hidden="true"></span>Your Own<br>Native Apps
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="">
            <span class="octicon hero-octicon octicon-star" style="padding-left:2px" aria-hidden="true"></span>
            Your Branding<br>and URL
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 offset-sm-2 col-md-2 offset-md-0 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="">
            <span class="octicon hero-octicon octicon-mail" aria-hidden="true"></span>
            Customer<br>Emails
          </a>
        </div>
        <div class='col-xs-12 col-sm-4 col-md-2 mb-xs-4 mb-md-0 hero-feature'>
          <a class="hero-link" href="">
            <span class="octicon hero-octicon octicon-organization" style="padding-right:2px" aria-hidden="true"></span>
            Live Community Features
          </a>
        </div>
      </div>
    </div>
  </section>


  <!-- <section class='page-section page-section-spacious bg-shade' id='get-started'>
    <div class='container-narrow text-center'>
      <h1>Get started</h1>
      <p class="lead">
        To get started with Electron, check out the resources below. Learn how to wrap your web app with Electron, access all the APIs, and generate installers.
      </p>


      <div class='row mt-8'>
        <div class='col-xs-12 col-md-5'>
          <a href="https://github.com/electron/electron-api-demos/releases">
            <div class="app-frame py-4 px-6">
              <img alt="Screenshot of Electron API Demos app" src='{{ site.baseurl }}/images/ORCA.png'>
            </div>
          </a>
        </div>
        <div class='col-xs-12 col-md-7 text-left'>
          <h3 class="mt-1 mb-3">Explore the Electron APIs</h3>
          <p>The <a href="https://github.com/electron/electron-api-demos">Electron API Demos app</a> interactively demonstrates the most important features of the Electron API. See what's possible with Electron with sample code and helpful tips for building your app.</p>
          <p>
            <a id="download-latest-release" class="btn btn-lg btn-outline-themed" href="https://github.com/electron/electron-api-demos/releases">
              <span class="octicon octicon-desktop-download mr-1"></span>
              <span class="label">Download from GitHub</span>
            </a>
            <p id="download-alternatives" class="text-sm" style="display:none;">
              <a href="https://github.com/electron/electron-api-demos/releases">View all releases</a>
              on GitHub
           </p>
          </p>
        </div>
      </div>

      <hr> -->

      <!-- <h3 class="mb-3">Spin up the <a href='https://github.com/electron/electron-quick-start' target='_blank'>Quick Start</a> app to see Electron in action:</h3>
      <p>A minimal Electron app with helpful notations.</p>
      <figure class="highlight highlight-dark text-left my-4">
<pre><code><span class="c1"># Clone the Quick Start repository</span>
$ git clone https://github.com/electron/electron-quick-start

<span class="c1"># Go into the repository</span>
$ cd electron-quick-start

<span class="c1"># Install the dependencies and run</span>
$ npm install &amp;&amp; npm start</code></pre>
      </figure>
      <h3>Or dive deeper and read the <a href='{{ site.baseurl }}/docs/'>documentation</a>.</h3>

      <h3 class="pt-4">Need Help?</h3>
      <p>Ask questions in the <a href='https://discuss.atom.io/c/electron'>Discuss</a> forum or our <a href='http://atom-slack.herokuapp.com/'>Slack</a> channel. Follow <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a> on Twitter for important announcements. Need to privately reach out? Email <a href="mailto:electron@github.com">electron@github.com</a>.</p>

    </div> -->
  <!-- </section> -->

  <section class='page-section page-section-spacious bg-shade' id='apps'>
    <div class="container-narrow text-center">
      <h1>Trusted by World-Class Teachers</h1>
      <p class="lead">
        Today's most innovative Online Teachers are using Nooma to run their school efficiently while offering their students the best learning experience
      </p>

      <hr>

      <div>
        <div class="mb-4">
          {% for app in site.data.apps %}
            {% if app.featuredOnHomepage %}
              {% include featured_app.html %}
            {% endif %}
          {% endfor %}
        </div>
<!--         <p class="mt-6">
          <a href='{{ site.baseurl }}/apps'>View more apps</a>
            or
           <a href="https://github.com/electron/electron.atom.io/blob/gh-pages/CONTRIBUTING.md#adding-an-app-or-project-to-the-site">submit your own</a>.
        </p> -->
      </div>

      <hr>

      <!-- <div>
        {% include featured_open_source_apps.html %}
      </div> -->

      <p class="text-center-sm mt-4">
        <a class="btn btn-lg btn-outline-themed" href="https://teamnooma.typeform.com/to/Ye4bti" target="_blank">
          <span class="octicon octicon-clippy mr-1"></span>
          <span class="label">Join the waitlist</span>
        </a>
      </p>

    </div>
  </section>
